html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #FFF;
}

@font-face {
  font-family: 'SF UI Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Regular'), url('../../public/fonts/sf-ui/SFUIText-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Italic'), url('../../public/fonts/sf-ui/SFUIText-RegularItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Light';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Light'), url('../../public/fonts/sf-ui/SFUIText-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Light Italic'), url('../../public/fonts/sf-ui/SFUIText-LightItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium'), url('../../public/fonts/sf-ui/SFUIText-Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium Italic'), url('../../public/fonts/sf-ui/SFUIText-MediumItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Semibold'), url('../../public/fonts/sf-ui/SFUIText-Semibold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Semibold Italic'), url('../../public/fonts/sf-ui/SFUIText-SemiboldItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold'), url('../../public/fonts/sf-ui/SFUIText-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold Italic'), url('../../public/fonts/sf-ui/SFUIText-BoldItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Heavy'), url('../../public/fonts/sf-ui/SFUIText-Heavy.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SF UI Text Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Heavy Italic'), url('../../public/fonts/sf-ui/SFUIText-HeavyItalic.woff') format('woff');
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'SF UI Text Bold';
  border-bottom: 1px solid #FFF;
  padding: 0 1rem .5rem;
  display: inline-block;
  margin: auto;
}